<app-dashboard titulo_navbar="Registro de productos"></app-dashboard>
<div class="contenido w-75">
    <form class="row g-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
        <div class="col-md-6">
            <label for="nombreProducto" class="form-label">Nombre</label>
            <input type="text" formControlName="nombre" class="form-control">
            <p class="fw-bold text-danger" *ngIf="productoForm.get('nombre')?.hasError('required') && productoForm.get('nombre')?.touched">Se necesita el nombre del producto</p>
        </div>
        <div class="col-md-6">
            <label for="precioProducto" class="form-label">Precio</label>
            <input type="text" formControlName="precio" class="form-control">
            <p class="fw-bold text-danger" *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">Se necesita el precio del producto, bestia</p>
            <p class="fw-bold text-danger" *ngIf="productoForm.get('precio')?.hasError('pattern')">El precio no es valido, debe de ser un numero</p>
            <p class="fw-bold text-danger" *ngIf="productoForm.get('precio')?.hasError('min') && productoForm.get('precio')?.touched">El precio debe ser diferente a 0</p>
        </div>
        <div class="col-12">
            <label for="proveedorProducto" class="form-label">Proveedor</label>
            <input type="text" formControlName="proveedor" class="form-control">
            <p class="fw-bold text-danger" *ngIf="productoForm.get('proveedor')?.hasError('required') && productoForm.get('proveedor')?.touched">Se necesita el proveedor del producto</p>
        </div>
        <div class="col-12">
            <label for="stockProducto" class="form-label">Stock</label>
            <input type="text" formControlName="stock_productos" class="form-control">
            <p class="fw-bold text-danger" *ngIf="productoForm.get('stock_productos')?.hasError('pattern')">El dato para la cantidad debe de ser un numero... animal</p>
        </div>
        <button type="submit" class="btn btn-dark">Registrar</button>
    </form>
</div>
