<div class="container-fluid">
    <div class="row">
        <div class="col-2 d-flex justify-content-around align-items-center flex-column dh-pepe">
            <div>
                <h3>Pepe's</h3>
                <i class="fa-solid fa-box-archive fa-5x"></i>
            </div>
            <ul class="lista-componentes">
                <li routerLink="/inventario"><button class="btn fw-bold">Productos</button></li>
                <li (click)="en_contruccion()"><button class="btn fw-bold">Pedidos</button></li>
                <li (click)="en_contruccion()"><button class="btn fw-bold">Usuarios</button></li>
                <li (click)="en_contruccion()"><button class="btn fw-bold">Remesas</button></li>
            </ul>
        </div>
        <div class="col-10">
            <app-navbar titulo_navbar="{{ titulo_navbar }}"></app-navbar>
        </div>
    </div>
</div>
