.login-page {
    width: 30%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.login-container {
    height: 100vh;
    background: #e0e0e0;
}


/*ESTILOS BOTON*/


/* From css.login-butons.io by @westitan */

.login-buton {
    position: relative;
    padding: 8px 36px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 40px;
    border: none;
}

.login-buton span {
    position: relative;
    color: #fff;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

.login-buton .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 150px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

.login-buton .liquid::after,
.login-buton .liquid::before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

.login-buton .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

.login-buton .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

.login-buton:hover .liquid {
    top: -80px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}


/*FIN ESTILOS BOTON*/

.login-input {
    border-radius: 50px;
}
