/* You can add global styles to this file, and also import other style files */
:root {
    --color-negro: #1d1d1d;
}

.contenido {
    position: absolute;
    top: 15%;
    left: 20%;
    margin-right: 50px;
}