<app-dashboard titulo_navbar="Productos"></app-dashboard>

<div class="contenido w-75">
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-dark"  routerLink="/producto-formulario">Registrar producto</button>
    </div>
    <table class="table" *ngIf="listaProductos.length > 0">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Proveeedor</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto_data of listaProductos">
                <th>{{ producto_data.nombre }}</th>
                <td>{{ producto_data.cantidad_stock }}</td>
                <td>{{ producto_data.precio }}</td>
                <td>{{ producto_data.proveedor }}</td>
                <td>
                    <i class="fa-solid fa-pencil icon-pepe px-2" routerLink="/producto-formulario"></i>
                    <i class="fa-solid fa-trash icon-pepe px-2"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="fw-bold fs-1 text-danger text-center" *ngIf="listaProductos.length == 0">No hay datos registrados</h2>



</div>
