<div class="container-header">
    <div>
        <h1 class="titulo-nuevo">Pagina oficial de la serie HinuYasha</h1>
        <div class="row">
            <div class="col-6">
                <app-slider></app-slider>
            </div>
        </div>
    </div>
</div>
<div class="container-body">
    <div class="row">
        <div class="col-12">
            <div class="contenidoHome">
                <div class="contenidoColumn" >
                    <section class="column">
                        <div class="flip-box" onmouseenter="showInfoByOnMouseAutor()">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    <img src="../../../assets/img/Takahashi.jpg" width="300px" height="360px">
                                </div>
                                <div class="flip-box-back">
                                    <span id="titleAutor" class="spanMessage" >Rumiko Takahashi</span>
                                    <span id="messageAutor" class="spanMessage"> Es una mangaka japonesa, Artista prolífica y con obras de diversas temáticas, Rumiko Takahashi ha sido y es una de las artistas del manga más notables, con obras como Urusei Yatsura, Maison Ikkoku, Ranma ½ e InuYasha entre otras muchas, por su gran trayectoria y éxito se ha ganado el título de 'La Reina del manga​</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="column">
                        <div class="flip-box2" onmouseenter="showInfoByOnMouseManga()">
                            <div class="flip-box-inner2">
                                <div class="flip-box-front2">
                                    <img src="../../../assets/img/portada.jpg"  width="300px" height="360px">
                                </div>
                                <div class="flip-box-back2">
                                    <span id="titleManga" class="spanMessage" >Inuyasha (1996)</span>
                                    <span id="messageManga" class="spanMessage">Se basa en la historia de una joven llamada Kagome que al cumplir 15 años viaja a través del tiempo por medio de un pozo magico (que se encuentra en un templo que esta en su casa) hasta regresar a la epoca de las guerras civiles es alla donde encuentra al personaje principal (Inuyasha).</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>