<div class="container">
    <img src="../../../assets/img/img1.jpg" width="237px">
    <div class="sub-container">
        <div class="logo">
            <img src="../../../assets/img/construccion.png" width="80px">
        </div>
        <div class="inf">
            <div>
                <label>{{this.videoData.title}}</label>
            </div>
            <div>
                <label>{{this.videoData.branName}}</label>
            </div>
            <div>
                <label>View {{this.videoData.view}}</label>
            </div>
            <div>
                <label>Subido {{this.videoData.time | date: 'dd/MM/yyyy'}}</label>
            </div>
        </div>

    </div>
</div>
